a {
    padding-left: 3px;
}

span {
    margin-left: 3px;
}

.grid-box {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
}

.grid-item {
}

.active {
    font-weight: bold;
    font-style: italic;
    /* margin-left: 2px;
    margin-right: 2px; */
    font-size: large;
}